<!DOCTYPE html>
<html>
<head>
    <title>Edit Expense</title>
</head>

<body>
    <h1>Edit Expense</h1>
    <form method="POST" action="/edit_expense" enctype="multipart/form-data">
        <input type="hidden" name="expense_id" value="{{ expense[0] }}">
        <label for="category">Category:</label>
        <input type="text" name="category" id="category" value="{{ expense[4] }}"><br><br>
        <label for="amount">Amount:</label>
        <input type="number" name="amount" id="amount" step="0.01" min="0" value="{{ expense[3] }}"><br><br>
        <label for="date">Date:</label>
        <input type="date" name="date" id="date" value="{{ expense[7] }}"><br><br>
        <label for="notes">Notes:</label>
        <textarea name="notes" id="notes" rows="4" cols="50">{{ expense[5] }}</textarea><br><br>
        <label for="image">Image: </label>
        <input type="file" name="image" id="image"><br><br>
        <br><br>
        <input type="submit" value="Save">
    </form>
</body>
</html>
