<!DOCTYPE html>
<html>
<head>
    <title>Expense Entry</title>
</head>
<body>
    <h1>Expense Entry</h1>
    <form action="/expense_entry" method="POST">
        <label for="category">Category:</label>
        <input type="text" name="category" id="category" required>
        <br><br>

        <label for="amount">Amount:</label>
        <input type="number" step="0.01" name="amount" id="amount" required>
        <br><br>
        <label for="date">Date:</label>
        <input type="date" name="date" id="date" ><br><br>
        <label for="notes">Notes:</label>
        <textarea name="notes" id="notes" rows="4" cols="50"></textarea>
        <br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
